{% extends 'todo/base.html' %}
{% block ebolus %}
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'todo/current.css' %}">
    <title>Current To Dos</title>
  </head>
  <body>

    <h1 class="h1">Sign Up!</h1>

    <section class="container s3">

      <form method="post">
        {% csrf_token %}
        {% load widget_tweaks %}

        {% for field in form %}
        <div class="form-group {% if field.errors %}alert alert-danger{% endif %}">
          {{ field.errors }}
          {{ field.label_tag }}
          {% render_field field class="form-control" %}
        </div>
        {% endfor %}

        <button type="submit" class="btn btn-info">Sign Up</button>
      </form>

    </section>
    {% endblock %}
  </body>
</html>
